{% extends 'foodmarket/base.html' %}

{% block head_content %}

<link href="/static/css/3-col-portfolio.css" rel="stylesheet">

{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Browse
                <small></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/static/img/almonds.jpg" alt="">
            </a>
            <h3>
                <a href="#">Food Name</a>
            </h3>
            <p class="food-price">Food Price</p>
            <p>Number Remaining</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/static/img/almonds.jpg" alt="">
            </a>
            <h3>
                <a href="#">Food Name</a>
            </h3>
            <p class="food-price">Food Price</p>
            <p>Number Remaining</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/static/img/almonds.jpg" alt="">
            </a>
            <h3>
                <a href="#">Food Name</a>
            </h3>
            <p class="food-price">Food Price</p>
            <p>Number Remaining</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/static/img/almonds.jpg" alt="">
            </a>
            <h3>
                <a href="#">Food Name</a>
            </h3>
            <p class="food-price">Food Price</p>
            <p>Number Remaining</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/static/img/almonds.jpg" alt="">
            </a>
            <h3>
                <a href="#">Food Name</a>
            </h3>
            <p class="food-price">Food Price</p>
            <p>Number Remaining</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/static/img/almonds.jpg" alt="">
            </a>
            <h3>
                <a href="#">Food Name</a>
            </h3>
            <p class="food-price">Food Price</p>
            <p>Number Remaining</p>
        </div>
    </div>

    <!-- Pagination
    <hr>
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    -->
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}