html, body {
    height: 100%;
}

.logo {
    margin-right: 20px;
}

.block-content {
    min-height: 80%;
    padding-top: 20px;
    padding-bottom: 40px;
}

#hello {
    background: url(../img/almond-bg.jpg) no-repeat bottom center scroll;
    background-size: cover;
}

.social-login a img {
    height: 55px;
    width: auto;
}

.round-button {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

#login-button {
    margin-left: 6px;
}

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item a img {
    width: 100%;
}